.container {
  height: 100vh;
  width: 60%;
  margin-left: 20%;
  margin-top: 0;
} 

.card {
  float: left;
  padding: 1em;
  margin-top: 3em;
  margin-left: 3em;
  background-color: #e4efe3; 
  box-shadow: 0 4px 8px 0 rgba(228, 239, 227, 0.8), 0 6px 20px 0 rgba(228, 239, 227, 0.76);
  transition: 0.5s
}

.card:hover {
  transform: scale(1.2);
}

.card:move {
  transform: scale(1.1);
}
.qs {
  height: 100px;
  width:  100px;
}

.qms {
  height: 300px;
  width:  300px;
}

.qml {
  height: 400px;
  width:  400px;
}

.ql {
  height: 600px;
  width:  600px;
}

.rs {
  height: 100px;
  width:  70px;
}

.rms {
  height: 300px;
  width:  120px;
}

.rml {
  height: 400px;
  width:  240px;
}

.rl {
  height: 600px;
  width:  410px;
}

/*
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
*/

body {
  font-family: "Computer Modern", sans-serif;
  color: #c39bd3;
}
