.card:hover {
  transform: scale(1.05);
}

.move {
  transform: scale(1.02);
}

.full {
  /*
  transform: scale(1.7);
  transform-origin:center center;*/
  z-index: 1;
}

.shatter {
  animation: shatter 1s forwards ease-out;
  z-index: -1;
}

.reform {
  animation: reform 1s forwards ease-out;
  z-index: 0;
}


@keyframes shatter {
  0% {
    opacity: 1; 
    transform: scale(1) translate(0, 0) rotate(0deg);
  }
  100% {
    opacity: 0; 
    transform: scale(0.5) translate(var(--x), var(--y)) rotate(720deg);
  }
}

@keyframes reform {
  0% {
    opacity: 0; 
    transform: scale(0.5) translate(var(--x), var(--y)) rotate(720deg);
  }
  100% {
    opacity: 1; 
    transform: scale(1) translate(0, 0) rotate(0deg);
  }
}
